# Visual studio code
/.vscode

# IstambulJS coverage reports
/.nyc_output
/coverage

# Compiled files
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map

# npm dependencies
/node_modules

# coveralls config
.coveralls.yml

# docker test volumes
/docker/mysql/data
/docker/sqlite
