# npm dependencies
/node_modules

# IstambulJS coverage reports
/.nyc_output
/coverage

# Compiled files
/src/**/*.js
/src/**/*.js.map
/src/**/*.d.ts
/src/**/*.d.ts.map

# coveralls config
.coveralls.yml

# Visual studio code
/.vscode
